.logo {
  font-family: $aditional-font;
  color: $active-color;
  @include font(24px, 1.16, 700);
  letter-spacing: 0.03em;
  text-decoration: none;

  &--header {
    color: $black;
    display: inline-block;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin: 26px 88px 26px 0;
    }
  }

  @media screen and (min-width: 1200px) {
    @include font(26px, 1.19, 700);
    &--header {
      margin-right: 93px;
    }
  }

  &--footer {
    color: $white;
    margin-bottom: 20px;
    display: inline-block;
  }
}
