$active-color: #2196f3;
$black-text: #212121;
$white: #fff;
$gray-text: #757575;
$gray-2: rgba(255, 255, 255, 0.6);
$background: #2f303a;
$background-2: #f5f4fa;
$background-hero: #c4c4c4;
$background-work: rgba(47, 48, 58, 0.8);
$black: #000;
$icon-color: #afb1b8;
$portfolio-line: #ececec;
$portfolio-item-border: #eeeeee;
$portfolio-item-background: rgba(33, 150, 243, 0.9);
$background-modal: rgba(0, 0, 0, 0.2);
$placeholder-text: rgba(117, 117, 117, 0.5);

$main-font: Roboto, sans-serif;
$aditional-font: Raleway, sans-serif;
