.clients {
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.clients__title {
  text-align: center;
  letter-spacing: 0.03em;
  color: $black-text;
  @include font(28px, 1.179, 700);
  margin: 0 0 30px;

  @media screen and (min-width: 1200px) {
    @include font(36px, 1.17, 700);
    margin: 0 0 50px;
  }
}

.clients__list {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.clients__item {
  // display: inline-block;
  width: calc((100% - 30px) / 2);
  &:nth-child(-n + 4) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
    & {
      width: calc((100% - 30px * 5) / 6);
    }
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid $icon-color;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $active-color;
  }
}
.clients__icon {
  fill: $icon-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: $active-color;
  }
}
