.footer {
  background-color: $background;
}
.footer-container {
  padding: 60px 15px;
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    margin-right: 70px;
    margin-left: 70px;
  }
  .footer__logo-address {
    display: inline-block;
    margin-right: 165px;
  }
}

.address {
  color: $white;
  @include font(14px, 1.71);
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    display: inline-block;
  }
}
.address-text {
  display: inline-block;
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}
/* тел і емеіл в футері */

.footer-contact {
  @include font(14px, 1.71);
  letter-spacing: 0.03em;
  color: $gray-2;
  text-decoration: none;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact:not(:last-child) {
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer-social {
  display: inline-block;
  @media screen and (max-width: 767px) {
    padding: 60px 0;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-right: 93px;
  }
}
.footer-social-title {
  @include font(14px, 1.14, 700);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white;
  margin: 0 0 20px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.footer-social .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form {
  display: flex;
  @media screen and (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    align-items: flex-end;
  }
}

.subscribe-form-text {
  @include font(14px, 1.14, 700);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white;
  margin-bottom: 20px;
  display: block;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.subscribe-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $background;
  color: $white;
  padding: 15px 16px;
  margin-bottom: 20px;

  @media screen and (max-width: 1199px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    width: 358px;
    margin-bottom: 0;
  }
}
