.portfolio__list {
  flex-wrap: wrap;
}

.portfolio__title {
  color: $black-text;
  @include font(18px, 2, 700);
  letter-spacing: 0.06em;
  text-decoration: none;
  margin-bottom: 4px;
  margin-top: 0;
}
.portfolio__text {
  color: $gray-text;
  @include font(16px, 1.875);
  letter-spacing: 0.03em;
  margin: 0;
}

.portfolio__content-box {
  padding: 20px 24px 20px 24px;
  border-right: 1px solid $portfolio-item-border;
  border-bottom: 1px solid $portfolio-item-border;
  border-left: 1px solid $portfolio-item-border;
}

.portfolio__item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 30px * 2) / 3);
}
.portfolio__item:nth-child(3n) {
  margin-right: 0;
}
.portfolio__item:nth-child(n + 7) {
  margin-bottom: 0;
}

.portfolio__link {
  text-decoration: none;
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.overlay {
  position: relative;
  overflow: hidden;
}

.portfolio__subtext {
  position: absolute;
  top: 0;
  @include font(18px, 1.55);
  letter-spacing: 0.03em;
  color: $white;
  background-color: $portfolio-item-background;
  padding: 63px 24px;
  margin: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;

  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translateY(0%);
  }
}
